<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>NSLocalNetworkUsageDescription</key>
  <string>3Decks communique avec votre console Nintendo 3DS sur le réseau local.</string>
  <key>NSAppleEventsUsageDescription</key>
  <string>3Decks contrôle la lecture et lit le morceau en cours dans Spotify et Musique lorsque vous activez les fonctions multimédia.</string>
</dict></plist>
